
            ol{
                list-style: none;
            }

            body{ 
                color:black;
                background-color: blueviolet;
            }
            h1{
                color: blue;
                background-color: lightskyblue;
               
            }

      